.game {
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5),
    0 0 0 100px rgba(0, 0, 0, 0.1);
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}


.board {
    display: inline-block;
    vertical-align: top

}

.game-info {
    display: inline-block;
    vertical-align: top

}

.history-li:hover {
    color: blue;
    text-decoration: underline;
    text-decoration-color: red;

}

.ol-reverse {
    transform: rotate(180deg);
}

.li-reverse {
    transform: rotate(-180deg);
}
